/* LOGIN */
.account-page{
  padding: 50px 0;
  background: radial-gradient(#fff,#ADD8E6);
}

.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn{
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
}



.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form input:focus{
  outline: none;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}

#loginForm{
  left: -300px;
}
#regForm{
  left: 0;
}

#indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s; 
}
form a{
  font-size: 12px;
}

/* HEADER */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
li{
  color: #000;
}
a{
  text-decoration: none;
  color: black;
}
p{
  color: #555;
}

.header{
  background: radial-gradient(#fff ,#ADD8E6);
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}

.menu-icon{
  display: none;
  width: 28px;
  margin-left: 20px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
/*---------*/
  
}
.header .row{
  margin-top: 70px;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn{
  display: inline-block;
  background: #A4BFEF;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover{
  background: #6A93CB;
}

/*-----------------------------*/
.categories{
  margin: 70px 0;
}

.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
/*-------featured product--------------*/

.title{
  text-align: center;
  margin: 0px auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
}
h4{
  color: #555;
  font-weight: normal;
}
.col-4 p{
  font-size: 14px;
}
.rating .fa{
  color: #ff523b;
}

.col-4:hover{
  transform: translateY(-5px);
}


/*-----------offer-------------*/
.offer{
  background: radial-gradient(#fff,#ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #555;
}

/*--------------------testimonial---------------*/

.testimonial{
  padding-top: 100px;
}

.testimonial .col-3{
  text-align: center;
  padding: 40px 20px 40px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform .5s;
}
.testimonial .col-3 img{
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}
.fa.fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 0px;
  color: #777;
}

.testimonial .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.testimonial .col-3:hover{
  transform: translateY(-10px);
}

/*--------------- brands ------------*/

.brands{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0);
}
/*---------footer-------*/

.footer{
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col1,.footer-col2,.footer-col3,.footer-col4{
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col1{
  flex-basis: 30%;
}
.footer-col2{
  flex: 1;
  text-align: center;
}
.footer-col2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col3,.footer-col4{
  flex-basis: 12%;
  text-align: center;
}

.app-logo{
  margin-top: 20px;
}

.app-logo img{
  width: 140px;
}

.footer li{
  display: block;
}
.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin:  20px 0;
}
.copyright{
  text-align: center;
  
}

/*-------media-query-for-max-width-800---------*/


@media only screen and (max-width: 800px) {

  
nav ul{
  position: absolute;
  top: 70px;
  left: 0;
  background: #333;
  width: 100%;
  overflow: hidden;
  transition: 1s;
  max-height: 0;
  transition:max-height 0.5s;
  }
  
nav ul li{
  display: block;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  }
nav ul li a{
      color: #fff;
  }
  
.menu-icon{
      display: block;
      cursor: pointer;
  }
  

}
/*---------- 600 media query -------*/
@media only screen and (max-width: 600px){
  
  .row{
    text-align: center;
  }
  
  .col-1, .col-2, .col-3, .col-4{
      
      flex-basis: 100%;
  }
}

/*----------All Product page------------*/


.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

select{
  border: 1px solid #ff523b;
  padding: 5px;
}
select:focus{
  outline: none;
}

.page-btn{
  margin: 0 auto 80px;
}

.page-btn span{
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}



/*---------product details-----------*/
.single-product{
  margin-top: 80px;
}
.single-product .col-2 img{
  padding: 0;
}
.single-product .col-2{
  padding: 20px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1px solid #ff523b;
}
input:focus{
  outline: none;
}

.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}


/*-------600 media query---------*/



@media only screen and (max-width: 600px){
  .single-product .row{
      text-align: left;
  }
  .single-product .col-2{
      padding: 20px 0;
  }

  .single-product h1{
      font-size: 26px;
      line-height: 22px;
  }
}

/*---------------- cart page -----------*/

.cart-page{
  margin: 80px auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}

.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}

td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  height: 30px;
  padding: 5px;
}

td a{
  color: #ff523b;
  font-size: 12px;
}

td img{
  width: 80px;
  height: 80px;
  margin-right: 10px; 
}


.total-price{
  display: flex;
  justify-content: flex-end;
  
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 350px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}

@media only screen and (max-width: 600px){
  .cart-info p{
      display: none;
  }
}

/*-------account page--------*/

.accout-page{
  padding: 50px 0;
  background: radial-gradient(#fff,#27408B);
}

.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn{
  display: inline-block;
}

#indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s; 
}

.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form input:focus{
  outline: none;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
form a{
  font-size: 12px;
}
#LoginForm{
   left: -300px;
}
#RegForm{
  left: 0;
}


/*Contact*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section{
  padding: 40px 15%;
}
.contact
{
  background: #27408B;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display:grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}
.contact-img img
{
  max-width: 100%;
  width: 720px;
  height: auto;
  border-radius: 10px;
}

.contact-form h1{
  font-size: 80px;
  color: #fff;
  margin-bottom: 20px;
}
span{
  color: #f9004d ;
}

.contact-form p{
  color: #fff;
  letter-spacing: 1px;
  line-height: 26px;
  font-size: 1.1rem;
  margin-bottom: 3.8rem;
}

.contact-form form{
  position: relative;

}
.contact-form form input,
form textarea{
  width: 100%;
  padding: 17px;
  border: none;
  outline: none;
  background: #191919;
  color: #fff;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.contact-form textarea{
  resize: none;
  height: 200px;
}

.contact-form form .btnC{
  display: inline-block;
  background: #f9004d ;
  font-size: 1.1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px transparent;
  border-radius: 10px;
  width: 220px;
  transition: ease .20s ;
  cursor: pointer;
}

.contact-form form .btnC:hover{
  border: 2px solid #f9004d;
  background: transparent;
  transform: scale(1.1);
}

@media (max-width:1570px){
  section{
      padding: 80px 3%;
      transition: .2s;
  }
  .contact-form h1{
      font-size: 60px;
  }
  .contact-form p{
      margin-bottom: 3rem;
  }
}

@media (max-width:1090px){
  .contact{
      grid-gap:2rem ;
      transition: .3s;
  }
}

@media (max-width:1000px){
  .contact{
      grid-template-columns: 1fr;
  }
  .contact-form{
      order: 2;
  }
  .contact-img img {
      max-width: 100%;
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom: 30px;
  }
}
/* HEADER */

* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/banner.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 500px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

.login-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.signup-btn {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.cover {
  background: #009688;
  height: 100%;
  width: 0%;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}


/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount-tag {
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

.wrapper{
  width: 100%;
  overflow-x: hidden;
}
.wrapper .container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
.category-filter{
  margin-top: 40px;
}
.title{
  margin-bottom: 40px;
}
.title h1{
  color: #1b1919;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 1px;
}
.filter-btns{
  text-align: center;
}
.filter-btn{
  background: none;
  cursor: pointer;
  border: none;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  margin: 10px 30px;
  font-size: 16px;
  color: #d3d3d3;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.filter-btn::after{
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  width: 0;
  background-color: #555;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}
.filter-btn:hover{
  color: #555;
}
.filter-btn:hover::after{
  width: 100%;
}
/* active button */
.active-btn{
  color: #555;
}
.active-btn::after{
  width: 100%;
}
/*  */

.filter-items{
  margin-top: 40px;
}
.item-img{
  position: relative;
  overflow: hidden;
}
.item-img::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(212, 203, 203, 0.1);
}
.item-img .discount{
  position: absolute;
  right: 0;
  top: 20px;
  background-color: #95bf47;
  z-index: 1;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 4px 16px;
}
.item-img img{
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.filter-item:hover .item-img img{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.item-info{
  padding: 14px 0;
}
.item-info p{
  font-weight: 600;
  font-size: 17px;
  margin-top: 8px;
}
.item-info .old-price{
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}
.item-info .new-price{
  display: inline-block;
  margin-left: 6px;
  font-weight: 600;
  color: #f53939;
}
.add-btn{
  display: inline-block;
  margin-top: 20px;
  background-color: #95bf47;
  text-decoration: none;
  color: #fff;
  padding: 8px 20px;
  border-radius: 2px;
  border: 2px solid #95bf47;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.add-btn:hover{
  border-color: #95bf47;
  background-color: #fff;
  color: #95bf47;
}


.filter-items{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.filter-item{
  width: 100%;
  margin-bottom: 40px;
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@keyframes fadeIn{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

@media screen and (min-width: 768px){
  .filter-item{
      width: calc(50% - 30px);
  }
}

@media screen and (min-width: 992px){
  .filter-item{
      width: calc(33.3333% - 30px);
  }
}

@media screen and (min-width: 1200px){
  .filter-item{
      width: calc(25% - 30px);
  }
}

<<<<<<< HEAD
=======
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content h2 {
  color: #ffcc00;
}

.footer-content p{
  font-size: 0.9em;
  line-height: 1.5;
  color: #fff;
}

.left-side{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-links{
  margin-top: 4em;
}

/*Google map*/
.footer-section .map-container {
  margin-top: 1em;
}

/*Social Media*/
.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.2em;
}

.social-media a {
  display: inline-block;
  margin-top: 10px;
  color: #fff;
  font-size: 4em;
}

.social-media a:hover {
  color: #ffcc00;
}

/*Bottom*/
.footer-bottom {
  margin-top: 2em;
  color: #fff;
}

.footer-bottom p {
  font-size: 0.8em;
}

/*Game*/
>>>>>>> a1d8bd02a876c21b07abaca6e0beb46721bb8276
